<p><Input @value={{this.value}} /></p>

<div {{mark this.value}}>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ipsum suspendisse ultrices gravida dictum fusce
    ut placerat orci. Adipiscing enim eu turpis egestas pretium aenean pharetra. Est
    placerat in egestas erat imperdiet. Tempus urna et pharetra pharetra massa massa
    ultricies mi quis. Faucibus interdum posuere lorem ipsum dolor. Consectetur adipiscing
    elit duis tristique sollicitudin nibh sit amet commodo. Porttitor massa id neque aliquam
    vestibulum morbi blandit cursus. Massa enim nec dui nunc mattis enim ut. Nunc congue nisi
    vitae suscipit tellus. Nunc non blandit massa enim nec dui nunc mattis enim. Amet commodo
    nulla facilisi nullam vehicula ipsum a arcu cursus. Ultrices neque ornare aenean euismod
    elementum. Posuere urna nec tincidunt praesent semper feugiat. Cursus euismod quis viverra
    nibh cras pulvinar mattis. Ultrices neque ornare aenean euismod elementum. Tempor nec feugiat
    nisl pretium fusce id velit ut. Proin libero nunc consequat interdum. Enim eu turpis egestas
    pretium aenean pharetra magna ac. Aliquam eleifend mi in nulla posuere sollicitudin aliquam
    ultrices sagittis.</p>

  <p>
    Vivamus arcu felis bibendum ut tristique et. Quisque non tellus orci ac auctor augue. Vel risus
    commodo viverra maecenas accumsan lacus. Tincidunt praesent semper feugiat nibh sed pulvinar.
    Amet risus nullam eget felis eget. Nulla porttitor massa id neque aliquam vestibulum morbi
    blandit cursus. Luctus accumsan tortor posuere ac. Urna cursus eget nunc scelerisque viverra.
    Id aliquet lectus proin nibh nisl condimentum id venenatis a. Odio morbi quis commodo odio aenean
    sed adipiscing diam. Nisl vel pretium lectus quam id leo in. Bibendum arcu vitae elementum curabitur
    vitae nunc sed velit. Viverra suspendisse potenti nullam ac. At augue eget arcu dictum varius duis.
    Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Duis at tellus at urna condimentum.
    Sem nulla pharetra diam sit amet. Commodo ullamcorper a lacus vestibulum sed arcu.
  </p>

  <p>
    Vulputate eu scelerisque felis imperdiet proin fermentum. Etiam dignissim diam quis enim lobortis.
    Turpis massa tincidunt dui ut ornare lectus sit. Mauris rhoncus aenean vel elit. Non arcu risus
    quis varius quam quisque id diam. Lobortis mattis aliquam faucibus purus in massa tempor nec.
    Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis. Ac tincidunt vitae
    semper quis lectus. Massa enim nec dui nunc mattis. Cursus turpis massa tincidunt dui ut. Felis
    bibendum ut tristique et egestas. Integer vitae justo eget magna fermentum iaculis eu. Nibh venenatis
    cras sed felis eget velit. Elit ut aliquam purus sit amet luctus venenatis lectus magna. Auctor
    urna nunc id cursus metus. Arcu non sodales neque sodales ut etiam sit amet nisl. Pharetra sit
    amet aliquam id diam maecenas ultricies mi eget. Vitae aliquet nec ullamcorper sit amet risus
    nullam eget.
  </p>

  <p>
    Ultricies integer quis auctor elit sed. Orci sagittis eu volutpat odio. Nunc pulvinar sapien et
    ligula ullamcorper malesuada proin. Vitae aliquet nec ullamcorper sit amet risus nullam
    eget felis. Morbi tristique senectus et netus et. Adipiscing vitae proin sagittis nisl
    rhoncus mattis rhoncus. Ac auctor augue mauris augue neque gravida in fermentum et. Eget
    nunc scelerisque viverra mauris. Duis ut diam quam nulla porttitor massa. Odio tempor orci
    dapibus ultrices in iaculis nunc sed augue. Amet volutpat consequat mauris nunc congue nisi.
    Eget egestas purus viverra accumsan in nisl nisi. Est ultricies integer quis auctor elit sed.
    In nulla posuere sollicitudin aliquam ultrices sagittis orci. Morbi non arcu risus quis varius
    quam. Nec feugiat in fermentum posuere urna nec tincidunt. Quis ipsum suspendisse ultrices gravida
    dictum fusce ut placerat orci.
  </p>

  <p>
    Duis convallis convallis tellus id. Porta nibh venenatis cras sed. Massa tincidunt nunc pulvinar
    sapien et ligula ullamcorper. Sit amet cursus sit amet dictum sit amet justo. Urna neque viverra
    justo nec ultrices. Viverra tellus in hac habitasse platea. Ornare arcu odio ut sem nulla pharetra.
    Feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Proin fermentum leo vel orci porta.
    Tincidunt lobortis feugiat vivamus at augue eget. Nunc id cursus metus aliquam. Dignissim diam
    quis enim lobortis scelerisque fermentum dui faucibus in. Rhoncus dolor purus non enim praesent
    elementum facilisis leo vel. Id neque aliquam vestibulum morbi blandit. Velit aliquet sagittis id
    consectetur. Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales. Nulla malesuada
    pellentesque elit eget gravida cum. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa
    eget. Arcu cursus euismod quis viverra nibh cras pulvinar mattis.
  </p>
</div>
